@model IEnumerable<GymMoli.Models.Clases_Entrenadores>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<div class="text-right mb-3">
    <a class="btn btn-success" asp-action="Create">Create New</a>
</div>

<table class="table table-striped table-hover">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clase.Día)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrenador.Apellido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clase.Día)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entrenador.Apellido)
                </td>
                <td class="text-center">
                    <a class="btn btn-warning mx-1" asp-action="Edit" asp-route-id="@item.ID_Clase_Entrenador">Edit</a>
                    <a class="btn btn-info mx-1" asp-action="Details" asp-route-id="@item.ID_Clase_Entrenador">Details</a>
                    <a class="btn btn-danger mx-1" asp-action="Delete" asp-route-id="@item.ID_Clase_Entrenador">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
