@model IEnumerable<GymMoli.Models.Clases>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Clase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripción)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Día)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora_Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Clase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripción)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Día)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_Fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                <a class="btn btn-warning mx-1" asp-action="Edit" asp-route-id="@item.ID_Clase">Edit</a> |
                <a class="btn btn-info mx-1" asp-action="Details" asp-route-id="@item.ID_Clase">Details</a> |
                    <a class="btn btn-danger mx-1" asp-action="Delete" asp-route-id="@item.ID_Clase">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
